

.polygon-calculator-div {
    padding: 1rem 0;
    border: 5px solid var(--heading-color); 
    background-color: var(--light-bg-color);
}
.polygon-calculator-text-div{
    padding:1rem 0;
}
.polygon-calculator{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.formula-value-btn{
    border: none;
    background-color:var(--main-color);
    color: white;
    /* width: 5rem; */
    padding: 4px 10px;
    border-radius: 5px;
}
.formula-backside{
    background-color: var(--heading-color);
    padding: 1rem 10px;
}
.bg-menu{
    border: "2px solid red";
    text-align: center;
    background-color: var(--light-bg-color);
}
.value-dropdown{
    border: 2px solid red !important;
   font-weight: 400;
}
.dropdown-select{
    border: 1px solid black;
    outline: none !important;
}