 
  
 /* tool main */
 .right-tool{
    border: 0.1px solid rgba(128, 128, 128, 0.33);
  padding: 0.5rem 10px;
  background-color: var(--light-bg-color);
  margin-bottom: 1.5rem;
  border-radius: 8px;
  }
  .home-page{
    display: flex;
    flex-wrap: wrap;
    margin: 3rem auto 2rem auto ;
  }
  .home-page-right-content{
    padding: 0 10px;
  
  }
  .Categories-page{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-bottom: 1px solid rgba(128, 128, 128, 0.238);
  }
  /* ***********************  popular-calculator  ******************************* */
  .popular-calculator{
    margin: 2rem 0 2rem 0;
  }
  