

.footer{
    background:  var(--main-color);
    color: white;   
}
.footer-col{
    margin-bottom: 1.3rem;
}
.footer-col-div1{
    border-bottom: 0.2rem solid var(--dark-primary-color);
}
.footer-col-div2{
    margin-top: 1rem;
}
.footer-link{
    text-decoration: none;
    color: white;
    width: 0;
    position: relative;
    transition: 2s;
}
.footer-link:hover{
     color: var(--dark-primary-color);
}
.footer-link::after{
    content: "";
    position: absolute;
    background-color: var(--dark-primary-color);
    height: 2px;
    width: 0%;
    left: 0px;
    bottom: -6px;
    transition: 0.3s;
}

  .footer-link:hover:after {
    width: 100%;
  }
  @media (max-width : 1000px) {
.footer-link{
    font-size: 13px;
}
   
  }