:root{
    --primary-color:#F7941D;
    --main-color:#414141;
    --linear-gradiant:#202020;
    --light-bg-color:#F8F9FA;
    --light-primary-color:#F8B644;
    --dark-primary-color:#F69C26;
    --language-color:#8E8983;
  
}
body{
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

@media (max-width : 550px) {

    .home-page-right-content{
    padding: 0 0 !important;
  }

}