@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}
h1,h2,h3,h4,h5,h6{
    font-weight: 400;
}
p,span{
    font-weight: 200;
}
:root {
    --primary-color: #F58648;
    --main-color: #19293A;
    --light-bg-color: #F8F9FA;
    --light-primary-color: #ECA028;
    --dark-primary-color: #F58648;
    --language-color: #8E8983;
   --heading-color:#EFF1F3;
  }
  input{
    width: 40%;
    border: 1px solid var(--language-color);
    padding: 0 3px;
    box-shadow: 2px 2px 2px var(--language-color);
  }
  input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
